html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}
.x-no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.x-highlight {
	background-color: #ffff00;
}
.x-hide {
	display: none;
}
.x-search-hide {
	display: none!important;
}
.x-btn {
  display: inline-block;
  padding: 2px 8px;
  box-sizing: border-box;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  background-color: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.x-btn:hover, .x-btn:focus {
  color: #333333;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}
.x-btn.disabled, .x-btn[disabled],
.x-btn.disabled:hover, .x-btn[disabled]:hover, .x-btn.disabled:focus, .x-btn[disabled]:focus,
.x-btn.disabled:active, .x-btn[disabled]:active, .x-btn.disabled.active, .x-btn[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn:active, .x-btn.active {
  background-color: #e1e1e1;
  border: 1px solid #d5d5d5;
}
.x-btn:hover, .x-btn:focus {
  color: #333333;
  text-decoration: none;
}
.x-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
}
.x-btn.disabled, .x-btn[disabled] {
  cursor: default;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.x-btn-xlarge {
  padding: 4px 12px;
  line-height: 22px;
  font-size: 14px;
}
.x-btn-large {
  padding: 2px 10px;
  line-height: 22px;
  font-size: 14px;
}
.x-btn-small {
  padding: 0px 6px;
  line-height: 18px;
  font-size: 12px;
}
.x-btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.x-btn-block + .x-btn-block {
  margin-top: 5px;
}
input[type="submit"].x-btn-block, input[type="reset"].x-btn-block, input[type="button"].x-btn-block {
  width: 100%;
}
.x-btn-primary {
  color: #ffffff;
  background-color: #28a3ef;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #1299ec;
}
.x-btn-primary:hover, .x-btn-primary:focus {
  color: #ffffff;
  background-color: #4cb9fc;
  border: 1px solid #33affc;
}
.x-btn-primary.disabled, .x-btn-primary[disabled],
.x-btn-primary.disabled:hover, .x-btn-primary[disabled]:hover, .x-btn-primary.disabled:focus, .x-btn-primary[disabled]:focus,
.x-btn-primary.disabled:active, .x-btn-primary[disabled]:active, .x-btn-primary.disabled.active, .x-btn-primary[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn-primary:active, .x-btn-primary.active {
  background-color: #1299ec;
  border: 1px solid #1089d4;
}
.x-btn-warning {
  color: #ffffff;
  background-color: #fac603;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #e1b203;
}
.x-btn-warning:hover, .x-btn-warning:focus {
  color: #ffffff;
  background-color: #fbd238;
  border: 1px solid #facc1f;
}
.x-btn-warning.disabled, .x-btn-warning[disabled],
.x-btn-warning.disabled:hover, .x-btn-warning[disabled]:hover, .x-btn-warning.disabled:focus, .x-btn-warning[disabled]:focus,
.x-btn-warning.disabled:active, .x-btn-warning[disabled]:active, .x-btn-warning.disabled.active, .x-btn-warning[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn-warning:active, .x-btn-warning.active {
  background-color: #e1b203;
  border: 1px solid #c89e02;
}
.x-btn-danger {
  color: #ffffff;
  background-color: #ea4a36;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #e8351f;
}
.x-btn-danger:hover, .x-btn-danger:focus {
  color: #ffffff;
  background-color: #ed6a5a;
  border: 1px solid #ea5543;
}
.x-btn-danger.disabled, .x-btn-danger[disabled],
.x-btn-danger.disabled:hover, .x-btn-danger[disabled]:hover, .x-btn-danger.disabled:focus, .x-btn-danger[disabled]:focus,
.x-btn-danger.disabled:active, .x-btn-danger[disabled]:active, .x-btn-danger.disabled.active, .x-btn-danger[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn-danger:active, .x-btn-danger.active {
  background-color: #e8351f;
  border: 1px solid #d72c16;
}
.x-btn-success {
  color: #ffffff;
  background-color: #43cd6e;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #34c360;
}
.x-btn-success:hover, .x-btn-success:focus {
  color: #ffffff;
  background-color: #49de79;
  border: 1px solid #33da69;
}
.x-btn-success.disabled, .x-btn-success[disabled],
.x-btn-success.disabled:hover, .x-btn-success[disabled]:hover, .x-btn-success.disabled:focus, .x-btn-success[disabled]:focus,
.x-btn-success.disabled:active, .x-btn-success[disabled]:active, .x-btn-success.disabled.active, .x-btn-success[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn-success:active, .x-btn-success.active {
  background-color: #34c360;
  border: 1px solid #2eaf56;
}
.x-btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #46b8da;
}
.x-btn-info:hover, .x-btn-info:focus {
  color: #ffffff;
  background-color: #85d0e7;
  border: 1px solid #70c8e2;
}
.x-btn-info.disabled, .x-btn-info[disabled],
.x-btn-info.disabled:hover, .x-btn-info[disabled]:hover, .x-btn-info.disabled:focus, .x-btn-info[disabled]:focus,
.x-btn-info.disabled:active, .x-btn-info[disabled]:active, .x-btn-info.disabled.active, .x-btn-info[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn-info:active, .x-btn-info.active {
  background-color: #46b8da;
  border: 1px solid #31b0d5;
}
.x-btn-inverse {
  color: #ffffff;
  background-color: #444444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #373737;
}
.x-btn-inverse:hover, .x-btn-inverse:focus {
  color: #ffffff;
  background-color: #222222;
  border: 1px solid #151515;
}
.x-btn-inverse.disabled, .x-btn-inverse[disabled],
.x-btn-inverse.disabled:hover, .x-btn-inverse[disabled]:hover, .x-btn-inverse.disabled:focus, .x-btn-inverse[disabled]:focus,
.x-btn-inverse.disabled:active, .x-btn-inverse[disabled]:active, .x-btn-inverse.disabled.active, .x-btn-inverse[disabled].active {
  color: #c6c6c6;
  background-color: #f3f3f3;
  border-color: #e6e6e6;
}
.x-btn-inverse:active, .x-btn-inverse.active {
  background-color: #373737;
  border: 1px solid #2b2b2b;
}
.x-btn-link, .x-btn-link:active, .x-btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.x-btn-link {
  cursor: pointer;
  color: #28a3ef;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.x-btn-link:hover, .x-btn-link:focus {
  color: #4cb9fc;
  text-decoration: underline;
  background-color: transparent;
}
.x-btn-link[disabled], .x-btn-link.disabled, 
.x-btn-link[disabled]:hover, .x-btn-link.disabled:hover, .x-btn-link[disabled]:focus, .x-btn-link.disabled:focus {
  color: #c6c6c6;
  text-decoration: none;
  background: none;
}
.x-btn.x-btn-bordered {
  background-color: transparent;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}
.x-btn.x-btn-bordered:hover, .x-btn.x-btn-bordered:focus {
  border: 1px solid #666666;
  color: white;
  background-color: #666666;
}
.x-btn.x-btn-bordered:active, .x-btn.x-btn-bordered.active {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
  color: #ffffff;
}
.x-btn.x-btn-bordered.x-btn-primary {
  border: 1px solid #1299ec;
  color: #1299ec;
}
.x-btn.x-btn-bordered.x-btn-primary:hover, .x-btn.x-btn-bordered.x-btn-primary:focus {
  border: 1px solid #4cb9fc;
  color: white;
  background-color: #4cb9fc;
}
.x-btn.x-btn-bordered.x-btn-primary:active, .x-btn.x-btn-bordered.x-btn-primary.active {
  background-color: #1aa5fb;
  border: 1px solid #1aa5fb;
  color: #ffffff;
}
.x-btn.x-btn-bordered.x-btn-warning {
  border: 1px solid #e1b203;
  color: #e1b203;
}
.x-btn.x-btn-bordered.x-btn-warning:hover, .x-btn.x-btn-bordered.x-btn-warning:focus {
  border: 1px solid #fbd238;
  color: white;
  background-color: #fbd238;
}
.x-btn.x-btn-bordered.x-btn-warning:active, .x-btn.x-btn-bordered.x-btn-warning.active {
  background-color: #fac706;
  border: 1px solid #fac706;
  color: #ffffff;
}
.x-btn.x-btn-bordered.x-btn-danger {
  border: 1px solid #e8351f;
  color: #e8351f;
}
.x-btn.x-btn-bordered.x-btn-danger:hover, .x-btn.x-btn-bordered.x-btn-danger:focus {
  border: 1px solid #ed6a5a;
  color: white;
  background-color: #ed6a5a;
}
.x-btn.x-btn-bordered.x-btn-danger:active, .x-btn.x-btn-bordered.x-btn-danger.active {
  background-color: #e8402c;
  border: 1px solid #e8402c;
  color: #ffffff;
}
.x-btn.x-btn-bordered.x-btn-success {
  border: 1px solid #34c360;
  color: #34c360;
}
.x-btn.x-btn-bordered.x-btn-success:hover, .x-btn.x-btn-bordered.x-btn-success:focus {
  border: 1px solid #49de79;
  color: white;
  background-color: #49de79;
}
.x-btn.x-btn-bordered.x-btn-success:active, .x-btn.x-btn-bordered.x-btn-success.active {
  background-color: #25cf5c;
  border: 1px solid #25cf5c;
  color: #ffffff;
}
.x-btn.x-btn-bordered.x-btn-info {
  border: 1px solid #46b8da;
  color: #46b8da;
}
.x-btn.x-btn-bordered.x-btn-info:hover, .x-btn.x-btn-bordered.x-btn-info:focus {
  border: 1px solid #85d0e7;
  color: white;
  background-color: #85d0e7;
}
.x-btn.x-btn-bordered.x-btn-info:active, .x-btn.x-btn-bordered.x-btn-info.active {
  background-color: #5bc0de;
  border: 1px solid #5bc0de;
  color: #ffffff;
}
.x-btn.x-btn-bordered.x-btn-inverse {
  border: 1px solid #373737;
  color: #373737;
}
.x-btn.x-btn-bordered.x-btn-inverse:hover, .x-btn.x-btn-bordered.x-btn-inverse:focus {
  border: 1px solid #222222;
  color: white;
  background-color: #222222;
}
.x-btn.x-btn-bordered.x-btn-inverse:active, .x-btn.x-btn-bordered.x-btn-inverse.active {
  background-color: #080808;
  border: 1px solid #080808;
  color: #ffffff;
}
.x-btn.x-btn-bordered.disabled, .x-btn.x-btn-bordered[disabled],
.x-btn.x-btn-bordered.disabled:hover, .x-btn.x-btn-bordered[disabled]:hover, .x-btn.x-btn-bordered.disabled:focus, .x-btn.btn-bordered[disabled]:focus {
  border-color: #c6c6c6;
  color: #c6c6c6;
  background: #f3f3f3;
}
.x-btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  *margin-left: .3em;
}
.x-btn-group:first-child {
  *margin-left: 0;
}
.x-btn-group + .x-btn-group {
  margin-left: 5px;
}
.x-btn-toolbar {
  font-size: 0;
  margin-top: 9px;
  margin-bottom: 9px;
}
.x-btn-toolbar > .x-btn + .x-btn, .x-btn-toolbar > .x-btn-group + .x-btn, .x-btn-toolbar > .x-btn + .x-btn-group {
  margin-left: 5px;
}
.x-btn-group > .x-btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.x-btn-group > .x-btn.x-btn-small > .caret {
  line-height: 17px;
}
.x-btn-group > .x-btn.x-btn-large > .caret {
  line-height: 21px;
}
.x-btn-group > .x-btn.x-btn-xlarge > .caret {
  line-height: 26px;
}
.x-btn-group .x-btn + .x-btn {
  margin-left: -1px;
}
.x-btn-group .x-btn, .x-btn-group .x-dropdown-menu, .x-btn-group .popover {
  font-size: 12px;
}
.x-btn-group .x-dropdown-menu {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  z-index: 1000;
}
.x-btn-group.open .x-dropdown-menu {
  display: block;
}
.x-btn-group > .x-btn-mini {
  font-size: 12px;
}
.x-btn-group > .x-btn-small {
  font-size: 12px;
}
.x-btn-group > .x-btn-large {
  font-size: 14px;
}
.x-btn-group > .x-btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.x-btn-group > .x-btn:last-child, .x-btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
.x-btn-group > .x-btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.x-btn-group > .x-btn.large:last-child, .x-btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.x-btn-group > .x-btn:hover, .x-btn-group > .x-btn:focus, .x-btn-group > .x-btn:active, .x-btn-group > .x-btn.active {
  z-index: 2;
}
.x-btn-group .dropdown-toggle:active, .x-btn-group .open .dropdown-toggle {
  outline: 0;
}
.x-btn-group > .x-btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}
.x-btn-group > .x-btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}
.x-btn-group > .x-btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
.x-btn-group > .x-btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.x-btn-group.open .dropdown-toggle {
  background-image: none;
}
.x-btn-group.open .dropdown-toggle.x-btn-primary {
  background-color: #1299ec;
  border-color: #1089d4;
}
.x-btn-group.open .dropdown-toggle.x-btn-warning {
  background-color: #e1b203;
  border-color: #c89e02;
}
.x-btn-group.open .dropdown-toggle.x-btn-danger {
  background-color: #e8351f;
  border-color: #d72c16;
}
.x-btn-group.open .dropdown-toggle.x-btn-success {
  background-color: #34c360;
  border-color: #2eaf56;
}
.x-btn-group.open .dropdown-toggle.x-btn-info {
  background-color: #46b8da;
  border-color: #31b0d5;
}
.x-btn-group.open .dropdown-toggle.x-btn-inverse {
  background-color: #373737;
  border-color: #2b2b2b;
}
.x-btn .caret {
  font-family: 'icon-pc';
  font-style: normal;
  vertical-align: -1px;
  float: right;
  margin-right: -5px;
  margin-left: 8px;
}
.x-btn .caret:before {
  content: "\c611";
}
.x-btn-large .caret {
  margin-top: 6px;
}
.x-btn-large .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.x-btn-mini .caret, .x-btn-small .caret {
  margin-top: 8px;
}
.dropup .x-btn-large .caret {
  border-bottom-width: 5px;
}
.x-btn-primary .caret, .x-btn-warning .caret, .x-btn-danger .caret,
.x-btn-info .caret, .x-btn-success .caret, .x-btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.x-btn-group-vertical {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.x-btn-group-vertical > .x-btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.x-btn-group-vertical > .x-btn + .x-btn {
  margin-left: 0;
  margin-top: -1px;
}
.x-btn-group-vertical > .x-btn:first-child {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.x-btn-group-vertical > .x-btn:last-child {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.x-btn-group-vertical > .x-btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.x-btn-group-vertical > .x-btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.x-nav {
	float: left;
	height:36px;
	line-height:36px;
}
.x-nav-left {
	border-right: 1px solid #ddd;
}
.x-nav-center {
	overflow: hidden;
}
.x-nav-right{
	border-left: 1px solid #ddd;
}
.x-nav>a {
	float: left;
	height: 36px;
	width: 36px;
	cursor: pointer;
	background-position: 10px;
	background-repeat: no-repeat;
}
.x-nav>a:hover {
	background-color: #f4f4f4;
}
.x-nav>button {
	float: left;
	margin: 3px 0 0 3px;
    padding: 2px 5px;
    line-height: 22px;
    font-size: 12px;
    max-width: 200px;
    height: 30px;
   	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
	outline: none;
	color: #333;
	background-color: #eee;
	border: 1px solid #e1e1e1;
}
.x-nav>button:hover, .x-nav>button:focus {
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}
.x-nav>button.active {
	color: #000;
    background-color: #ffff;
    border: 1px solid #eaeaea;
}
.x-nav>button>i {
	margin: 0;
	padding: 0;
	vertical-align: top;
	height: 24px;
	width: 16px;
	line-height: 24px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 4px;
}
.x-nav>button>span {
	margin: 0 10px;
	padding: 0;
	display: inline-block;
	line-height: 24px;
	overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 52px);
}
.x-nav-close {
	color: #aaa;
	font-weight: normal;
	font-size: 12px;
	margin: 0!important;
	width: 16px!important;
}
.x-nav-close:hover {
	color: red;
}

.x-tree {
	height: 100%;
	width: 100%;
}
.x-tree-tool-system {
	border-bottom: 1px solid #ddd;
	height: 30px;
	width: 100%;
}
.x-tree-tool-system>input {
	float:left;
	border: 0;
	padding: 0 5px;
	height: 30px;
	width: calc(100% - 70px);
	outline: none;
	font-size: 12px;
}
.x-tree-tool-system>a {
	float:left;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 7px 7px;
}
.x-tree-tool-system>a:hover {
	background-color: #f4f4f4;
}
.x-tree>ul {
	display: block;
	height: calc(100% - 31px);
	overflow: auto;
}
.x-tree li {
	margin: 0 0 0 16px;
	padding: 0;
	display: block;
	min-height: 24px;
	min-width: 24px;
	font-size:0;
	white-space: nowrap;
	-webkit-text-size-adjust:none;
}
.x-tree>ul>li {
	margin-left: 0;
}
.x-tree li>i,
.x-tree li>a>i {
	margin: 0;
	padding: 0;
	vertical-align: top;
	height: 24px;
	width: 16px;
	line-height: 24px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 4px;
}
.x-tree li>a {
	height: 24px;
	display: inline-block;
	font-size: 12px;
	white-space: nowrap;
	margin: 0;
	vertical-align: top;
	cursor: pointer;
}
.x-tree li>a:hover {
	background-color: #e5f3ff;
}
.x-tree li>a.active {
	background-color: #cde8ff;
}
.x-tree li>a>span {
	padding: 0 4px;
	display: inline-block;
	line-height: 24px;
}
.x-msg-alert-container {
	z-index: 2000;
	position: fixed;
}
.x-msg-alert-container,
.x-msg-alert-container *,
.x-msg-alert-container *:after,
.x-msg-alert-container *:before {
	box-sizing: border-box;
}
.x-msg-alert-top-left {
	top: 0;
	left: 0;
}
.x-msg-alert-top-left .x-msg-alert {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.x-msg-alert-top-center {
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.x-msg-alert-top-center .x-msg-alert {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.x-msg-alert-top-right {
	top: 0;
	right: 0;
}
.x-msg-alert-top-right .x-msg-alert {
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.x-msg-alert-center {
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.x-msg-alert-center .x-msg-alert {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.x-msg-alert-bottom-left {
	bottom: 0;
	left: 0;
}
.x-msg-alert-bottom-left .x-msg-alert {
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.x-msg-alert-bottom-center {
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.x-msg-alert-bottom-center .x-msg-alert {
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.x-msg-alert-bottom-right {
	bottom: 0;
	right: 0;
}
.x-msg-alert-bottom-right .x-msg-alert {
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
@media screen and (max-width: 30em) {
	.x-msg-alert-top-left,
	.x-msg-alert-top-center,
	.x-msg-alert-top-right,
	.x-msg-alert-bottom-left,
	.x-msg-alert-bottom-center,
	.x-msg-alert-bottom-right {
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.x-msg-alert-top-left .x-msg-alert,
	.x-msg-alert-top-center .x-msg-alert,
	.x-msg-alert-top-right .x-msg-alert,
	.x-msg-alert-bottom-left .x-msg-alert,
	.x-msg-alert-bottom-center .x-msg-alert,
	.x-msg-alert-bottom-right .x-msg-alert {
		-webkit-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
	.x-msg-alert {
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
}
.x-msg-alert {
	position: relative;
	min-height: 56px;
	line-height: 1.25;
	font-size: 14px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
@media screen and (min-width: 30em) {
	.x-msg-alert {
		border-radius: 2px;
		width: 320px;
		margin: 0.7em;
	}
}
.x-msg-alert-info,
.x-msg-alert-error,
.x-msg-alert-warning,
.x-msg-alert-success {
	color: #fff;
	background-color: #454A56;
}
@-webkit-keyframes xlMsgAlertIn { 
	0% {
		-webkit-transform: scale(0.2, 0.2);
		transform: scale(0.2, 0.2);
	}
	95% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1); 
	}
	100% {
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@keyframes xlMsgAlertIn {
	0% {
		-webkit-transform: scale(0.2, 0.2);
		transform: scale(0.2, 0.2);
	}
	95% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1); 
	}
	100% {
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@-webkit-keyframes xlMsgAlertOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	20% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0,0);
		transform: scale(0,0);
	}
}
@keyframes xlMsgAlertOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	20% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1);
 	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0,0);
		transform: scale(0,0);
	}
}
.x-msg-alert-out {
	-webkit-animation: xlMsgAlertOut 0.4s ease-in-out;
	animation: xlMsgAlertOut 0.4s ease-in-out;
}
.x-msg-alert-in {
	-webkit-animation: xlMsgAlertIn 0.4s ease-in-out;
	animation: xlMsgAlertIn 0.4s ease-in-out;
}
.x-msg-alert-body {
	padding: 1.4em;
}
.x-msg-alert-body p {
	margin: 0;
}
.x-msg-alert-body a {
	color: #fff;
	text-decoration: underline;
}
.x-msg-alert-body a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.x-msg-alert-title {
	margin-top: 0;
	margin-bottom: 0.25em;
	color: #fff;
}
.x-msg-alert-close {
	position: absolute;
	right: 0;
	top: 0;
	height: 32px;
	width: 32px;
	padding-top: 7px;
	padding-right: 7px;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	line-height: 0.6;
	color: #fff;
	opacity: 0.5;
}
.x-msg-alert-close:hover {
	opacity: 0.7;
	cursor: pointer;
}
.x-msg-alert-icon {
	position: absolute;
	top: 13px;
	left: 16px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-animation: xlMsgAlertIn 0.4s 0.4s ease-in-out;
	animation: xlMsgAlertIn 0.4s 0.4s ease-in-out;
}
.x-msg-alert-icon:after,
.x-msg-alert-icon:before {
	content: "";
	position: absolute;
	display: block;
}
.x-msg-alert-icon+.x-msg-alert-body {
	padding-left: 4.2em;
}
.x-msg-alert-icon--error,
.x-msg-alert-icon--info {
	border: 2px solid #3a95ed;
}
.x-msg-alert-icon--error:before,
.x-msg-alert-icon--info:before {
	top: 5px;
	left: 11px;
	width: 4px;
	height: 4px;
	background-color: #3a95ed;
}
.x-msg-alert-icon--error:after,
.x-msg-alert-icon--info:after {
	top: 12px;
	left: 11px;
	width: 4px;
	height: 9px;
	background-color: #3a95ed;
}
.x-msg-alert-icon--error {
	border-color: #ff5656;
}
.x-msg-alert-icon--error:before {
	top: 16px;
	background-color: #ff5656;
}
.x-msg-alert-icon--error:after {
	top: 5px;
	background-color: #ff5656;
}
.x-msg-alert-icon--success {
	border: 2px solid #2ecc54;
}
.x-msg-alert-icon--success:before {
	top: 7px;
	left: 7px;
	width: 13px;
	height: 8px;
	border-bottom: 3px solid #2ecc54;
	border-left: 3px solid #2ecc54;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.x-msg-alert-icon--warning {
	border: 2px solid #fcd000;
}
.x-msg-alert-icon--warning:before {
	top: 7px;
	left: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #fcd000 transparent;
	border-width: 0 6px 10px 6px;
}

.x-grid-error {
	color: red;
}
.x-grid {
	float: left;
	height: 100%;
	width: 100%;
}
.x-grid-left-right>hr {
	float: left;
    border: 0;
    padding: 0;
    margin: 0;
	height: 100%;
	width: 2px;
	background-color: #e1e6f6;
	cursor: ew-resize;
}
.x-grid-left-right>.x-grid {
	height: 100%;
	width: calc(50% - 1px);
}
.x-grid-top-bottom>hr {
	float: left;
    border: 0;
    padding: 0;
    margin: 0;
	height: 2px;
	width: 100%;
	background-color: #e1e6f6;
	cursor: ns-resize;
}
.x-grid-top-bottom>.x-grid {
	height: calc(50% - 1px);
	width: 100%;
}

.x-tab {
	border: 0;
	height: 100%;
	width: 100%;
	display: none;
}
.x-tab.active {
	display: block;
}

.x-mask-drag {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000000;
}

.x-icon {
	height: 16px;
	width: 16px;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
}
i.x-icon {
	line-height: 16px;
}
.x-btn>.x-icon {
	margin: -3px 4px 0 -2px;
}
.x-btn-xlarge>.x-icon {
	margin: -3px 6px 0 -2px
}
.x-btn-large>.x-icon {
	margin: -3px 5px 0 -2px;
}
.x-btn-small>.x-icon {
	margin: -3px 2px 0 -2px;
}
.x-btn-icon>.x-icon {
	margin-right: 0;
	margin-left: 0px;
}

.x-icon-collapse{background-image:url(/src/icon/collapse.gif);}
.x-icon-home{background-image:url(/src/icon/home.ico);}
.x-icon-email{background-image:url(/src/icon/email.png);}
.x-icon-user{background-image:url(/src/icon/user.png);}
.x-icon-cog{background-image:url(/src/icon/cog.png);}
.x-icon-link{background-image:url(/src/icon/link.gif);}
.x-icon-element{background-image:url(/src/icon/element.gif);}
.x-icon-controller{background-image:url(/src/icon/controller.png);}
.x-icon-component{background-image:url(/src/icon/component.gif);}
.x-icon-plugin{background-image:url(/src/icon/plugin.gif);}
.x-icon-exec{background-image:url(/src/icon/exec.png);}
.x-icon-project{background-image:url(/src/icon/project.png);}
.x-icon-arrow-bottom{background-image:url(/src/icon/arrow-bottom.png);}
.x-icon-arrow-right{background-image:url(/src/icon/arrow-right.png);}
.x-icon-icon{background-image:url(/src/icon/icon.png);}
.x-icon-button{background-image:url(/src/icon/button.gif);}
.x-icon-switch{background-image:url(/src/icon/switch.gif);}
.x-icon-tag{background-image:url(/src/icon/tag.png);}
.x-icon-progress{background-image:url(/src/icon/progress.png);}
.x-icon-radio{background-image:url(/src/icon/radio.gif);}
.x-icon-checkbox{background-image:url(/src/icon/checkbox.gif);}
.x-icon-input{background-image:url(/src/icon/input.gif);}
.x-icon-select{background-image:url(/src/icon/select.gif);}
.x-icon-pop{background-image:url(/src/icon/pop.gif);}
.x-icon-message{background-image:url(/src/icon/message.gif);}
.x-icon-toolbar{background-image:url(/src/icon/toolbar.png);}
.x-icon-pagebar{background-image:url(/src/icon/pagebar.gif);}
.x-icon-navigator{background-image:url(/src/icon/navigator.gif);}
.x-icon-form{background-image:url(/src/icon/form.png);}
.x-icon-table{background-image:url(/src/icon/table.gif);}
.x-icon-html{background-image:url(/src/icon/html.png);}
.x-icon-time{background-image:url(/src/icon/time.png);}
.x-icon-function{background-image:url(/src/icon/function.gif);}
.x-icon-tree{background-image:url(/src/icon/tree.gif);}
.x-icon-org{background-image:url(/src/icon/org.png);}
.x-icon-select-rect{background-image:url(/src/icon/select-rect.gif);}
.x-icon-comments{background-image:url(/src/icon/comments.gif);}
.x-icon-chart{background-image:url(/src/icon/chart.ico);}
.x-icon-file{background-image:url(/src/icon/file.png);}
.x-icon-import{background-image:url(/src/icon/import.png);}
.x-icon-export{background-image:url(/src/icon/export.png);}
.x-icon-code{background-image:url(/src/icon/code.gif);}
.x-icon-font{background-image:url(/src/icon/font.png);}
.x-icon-color{background-image:url(/src/icon/color.png);}
.x-icon-location{background-image:url(/src/icon/location.png);}
.x-icon-timeline{background-image:url(/src/icon/timeline.png);}
.x-icon-close{background-image:url(/src/icon/close.png);}
.x-icon-book-open{background-image:url(/src/icon/book-open.png);}
.x-icon-edit-text{background-image:url(/src/icon/edit-text.gif);}
.x-icon-ruled-page{background-image:url(/src/icon/ruled-page.png);}
.x-icon-arr-left{background-image:url(/src/icon/arrow-left.ico);}
.x-icon-arr-right{background-image:url(/src/icon/arrow-right.ico);}
.x-icon-add{background-image:url(/src/icon/add.png);}
.x-icon-app-add{background-image:url(/src/icon/app-add.png);}
.x-icon-app-cascade{background-image:url(/src/icon/app-cascade.png);}
.x-icon-app-delete{background-image:url(/src/icon/app-delete.png);}
.x-icon-app-double{background-image:url(/src/icon/app-double.png);}
.x-icon-app-edit{background-image:url(/src/icon/app-edit.png);}
.x-icon-app-error{background-image:url(/src/icon/app-error.png);}
.x-icon-app-form-add{background-image:url(/src/icon/app-form-add.png);}
.x-icon-app-form-delete{background-image:url(/src/icon/app-form-delete.png);}
.x-icon-app-form-edit{background-image:url(/src/icon/app-form-edit.png);}
.x-icon-app-form-magnify{background-image:url(/src/icon/app-form-magnify.png);}
.x-icon-app-get{background-image:url(/src/icon/app-get.png);}
.x-icon-app-go{background-image:url(/src/icon/app-go.png);}
.x-icon-app-home{background-image:url(/src/icon/app-home.png);}
.x-icon-app-key{background-image:url(/src/icon/app-key.png);}
.x-icon-app-lightning{background-image:url(/src/icon/app-lightning.png);}
.x-icon-app-link{background-image:url(/src/icon/app-link.png);}
.x-icon-app-osx-terminal{background-image:url(/src/icon/app-osx-terminal.png);}
.x-icon-app-osx{background-image:url(/src/icon/app-osx.png);}
.x-icon-app-put{background-image:url(/src/icon/app-put.png);}
.x-icon-app-side-boxes{background-image:url(/src/icon/app-side-boxes.png);}
.x-icon-app-side-contract{background-image:url(/src/icon/app-side-contract.png);}
.x-icon-app-side-expand{background-image:url(/src/icon/app-side-expand.png);}
.x-icon-app-side-list{background-image:url(/src/icon/app-side-list.png);}
.x-icon-app-side-tree{background-image:url(/src/icon/app-side-tree.png);}
.x-icon-app-split{background-image:url(/src/icon/app-split.png);}
.x-icon-app-tile-horizontal{background-image:url(/src/icon/app-tile-horizontal.png);}
.x-icon-app-tile-vertical{background-image:url(/src/icon/app-tile-vertical.png);}
.x-icon-app-view-columns{background-image:url(/src/icon/app-view-columns.png);}
.x-icon-app-view-detail{background-image:url(/src/icon/app-view-detail.png);}
.x-icon-app-view-gallery{background-image:url(/src/icon/app-view-gallery.png);}
.x-icon-app-view-icons{background-image:url(/src/icon/app-view-icons.png);}
.x-icon-app-view-list{background-image:url(/src/icon/app-view-list.png);}
.x-icon-app-view-tile{background-image:url(/src/icon/app-view-tile.png);}
.x-icon-app-xp-terminal{background-image:url(/src/icon/app-xp-terminal.png);}
.x-icon-app-xp{background-image:url(/src/icon/app-xp.png);}
.x-icon-app{background-image:url(/src/icon/app.png);}
.x-icon-app2{background-image:url(/src/icon/app2.png);}