html, body, ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
ul {
	list-style: none;
	list-style-image: none;
}

.xl-btn {
	display: inline-block;
    padding: 2px 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    outline: none;
}

.xl-btn:hover, .xl-btn:focus {
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}

.xl-nav {
	float: left;
	height:36px;
	line-height:36px;
}
.xl-nav>a {
	float: left;
	height: 36px;
	width: 36px;
	cursor: pointer;
	background-position: 10px;
	background-repeat: no-repeat;
}
.xl-nav>a:hover {
	background-color: #f4f4f4;
}
.xl-nav>button {
	float: left;
	margin: 3px 0 0 3px;
    padding: 2px 5px;
    line-height: 22px;
    font-size: 12px;
    max-width: 200px;
    height: 30px;
   	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
	outline: none;
	color: #333;
	background-color: #eee;
	border: 1px solid #e1e1e1;
}
.xl-nav>button:hover, .xl-nav>button:focus {
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
}
.xl-nav>button.active {
	color: #000;
    background-color: #ffff;
    border: 1px solid #eaeaea;
}
.xl-nav>button>i {
	margin: 0;
	padding: 0;
	vertical-align: top;
	height: 24px;
	width: 16px;
	line-height: 24px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 4px;
}
.xl-nav>button>span {
	margin: 0 10px;
	padding: 0;
	display: inline-block;
	line-height: 24px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 52px);
}
.xl-nav-close {
	color: #aaa;
	font-weight: normal;
	font-size: 12px;
	margin: 0!important;
	width: 16px!important;
}
.xl-nav-close:hover {
	color: red;
}

.xl-tree {
	height: 100%;
	width: 100%;
}
.xl-tree-tool-system {
	border-bottom: 1px solid #ddd;
	height: 30px;
	width: 100%;
}
.xl-tree-tool-system>input {
	float:left;
	border: 0;
	padding: 0 5px;
	height: 30px;
	width: calc(100% - 70px);
	outline: none;
	font-size: 12px;
}
.xl-tree-tool-system>a {
	float:left;
	height: 30px;
	width: 30px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 7px 7px;
}
.xl-tree-tool-system>a:hover {
	background-color: #f4f4f4;
}
.xl-tree>ul {
	display: block;
	height: calc(100% - 31px);
	overflow: auto;
}
.xl-tree li {
	margin: 0 0 0 16px;
	padding: 0;
	display: block;
	min-height: 24px;
	min-width: 24px;
	font-size:0;
	white-space: nowrap;
	-webkit-text-size-adjust:none;
}
.xl-tree>ul>li {
	margin-left: 0;
}
.xl-tree li>i,
.xl-tree li>a>i {
	margin: 0;
	padding: 0;
	vertical-align: top;
	height: 24px;
	width: 16px;
	line-height: 24px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 0 4px;
}
.xl-tree li>a {
	height: 24px;
	display: inline-block;
	font-size: 12px;
	white-space: nowrap;
	margin: 0;
	vertical-align: top;
	cursor: pointer;
}
.xl-tree li>a:hover {
	background-color: #e5f3ff;
}
.xl-tree li>a.active {
	background-color: #cde8ff;
}
.xl-tree li>a>span {
	padding: 0 4px;
	display: inline-block;
	line-height: 24px;
}
.xl-tree li>a>span>em {
	background-color: #ffff00;
}

.xl-msg-alert-container {
	z-index: 2000;
	position: fixed;
}
.xl-msg-alert-container,
.xl-msg-alert-container *,
.xl-msg-alert-container *:after,
.xl-msg-alert-container *:before {
	box-sizing: border-box;
}
.xl-msg-alert-top-left {
	top: 0;
	left: 0;
}
.xl-msg-alert-top-left .xl-msg-alert {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.xl-msg-alert-top-center {
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.xl-msg-alert-top-center .xl-msg-alert {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.xl-msg-alert-top-right {
	top: 0;
	right: 0;
}
.xl-msg-alert-top-right .xl-msg-alert {
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.xl-msg-alert-center {
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.xl-msg-alert-center .xl-msg-alert {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.xl-msg-alert-bottom-left {
	bottom: 0;
	left: 0;
}
.xl-msg-alert-bottom-left .xl-msg-alert {
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.xl-msg-alert-bottom-center {
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.xl-msg-alert-bottom-center .xl-msg-alert {
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.xl-msg-alert-bottom-right {
	bottom: 0;
	right: 0;
}
.xl-msg-alert-bottom-right .xl-msg-alert {
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
@media screen and (max-width: 30em) {
	.xl-msg-alert-top-left,
	.xl-msg-alert-top-center,
	.xl-msg-alert-top-right,
	.xl-msg-alert-bottom-left,
	.xl-msg-alert-bottom-center,
	.xl-msg-alert-bottom-right {
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.xl-msg-alert-top-left .xl-msg-alert,
	.xl-msg-alert-top-center .xl-msg-alert,
	.xl-msg-alert-top-right .xl-msg-alert,
	.xl-msg-alert-bottom-left .xl-msg-alert,
	.xl-msg-alert-bottom-center .xl-msg-alert,
	.xl-msg-alert-bottom-right .xl-msg-alert {
		-webkit-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
	.xl-msg-alert {
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	}
}
.xl-msg-alert {
	position: relative;
	min-height: 56px;
	line-height: 1.25;
	font-size: 14px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
@media screen and (min-width: 30em) {
	.xl-msg-alert {
		border-radius: 2px;
		width: 320px;
		margin: 0.7em;
	}
}
.xl-msg-alert-info,
.xl-msg-alert-error,
.xl-msg-alert-warning,
.xl-msg-alert-success {
	color: #fff;
	background-color: #454A56;
}
@-webkit-keyframes xlMsgAlertIn { 
	0% {
		-webkit-transform: scale(0.2, 0.2);
		transform: scale(0.2, 0.2);
	}
	95% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1); 
	}
	100% {
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@keyframes xlMsgAlertIn {
	0% {
		-webkit-transform: scale(0.2, 0.2);
		transform: scale(0.2, 0.2);
	}
	95% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1); 
	}
	100% {
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
}
@-webkit-keyframes xlMsgAlertOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	20% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0,0);
		transform: scale(0,0);
	}
}
@keyframes xlMsgAlertOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	20% {
		-webkit-transform: scale(1.1,1.1);
		transform: scale(1.1,1.1);
 	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0,0);
		transform: scale(0,0);
	}
}
.xl-msg-alert-out {
	-webkit-animation: xlMsgAlertOut 0.4s ease-in-out;
	animation: xlMsgAlertOut 0.4s ease-in-out;
}
.xl-msg-alert-in {
	-webkit-animation: xlMsgAlertIn 0.4s ease-in-out;
	animation: xlMsgAlertIn 0.4s ease-in-out;
}
.xl-msg-alert-body {
	padding: 1.4em;
}
.xl-msg-alert-body p {
	margin: 0;
}
.xl-msg-alert-body a {
	color: #fff;
	text-decoration: underline;
}
.xl-msg-alert-body a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
.xl-msg-alert-title {
	margin-top: 0;
	margin-bottom: 0.25em;
	color: #fff;
}
.xl-msg-alert-close {
	position: absolute;
	right: 0;
	top: 0;
	height: 32px;
	width: 32px;
	padding-top: 7px;
	padding-right: 7px;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	line-height: 0.6;
	color: #fff;
	opacity: 0.5;
}
.xl-msg-alert-close:hover {
	opacity: 0.7;
	cursor: pointer;
}
.xl-msg-alert-icon {
	position: absolute;
	top: 13px;
	left: 16px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-animation: xlMsgAlertIn 0.4s 0.4s ease-in-out;
	animation: xlMsgAlertIn 0.4s 0.4s ease-in-out;
}
.xl-msg-alert-icon:after,
.xl-msg-alert-icon:before {
	content: "";
	position: absolute;
	display: block;
}
.xl-msg-alert-icon+.xl-msg-alert-body {
	padding-left: 4.2em;
}
.xl-msg-alert-icon--error,
.xl-msg-alert-icon--info {
	border: 2px solid #3a95ed;
}
.xl-msg-alert-icon--error:before,
.xl-msg-alert-icon--info:before {
	top: 5px;
	left: 11px;
	width: 4px;
	height: 4px;
	background-color: #3a95ed;
}
.xl-msg-alert-icon--error:after,
.xl-msg-alert-icon--info:after {
	top: 12px;
	left: 11px;
	width: 4px;
	height: 9px;
	background-color: #3a95ed;
}
.xl-msg-alert-icon--error {
	border-color: #ff5656;
}
.xl-msg-alert-icon--error:before {
	top: 16px;
	background-color: #ff5656;
}
.xl-msg-alert-icon--error:after {
	top: 5px;
	background-color: #ff5656;
}
.xl-msg-alert-icon--success {
	border: 2px solid #2ecc54;
}
.xl-msg-alert-icon--success:before {
	top: 7px;
	left: 7px;
	width: 13px;
	height: 8px;
	border-bottom: 3px solid #2ecc54;
	border-left: 3px solid #2ecc54;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.xl-msg-alert-icon--warning {
	border: 2px solid #fcd000;
}
.xl-msg-alert-icon--warning:before {
	top: 7px;
	left: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent #fcd000 transparent;
	border-width: 0 6px 10px 6px;
}

.xl-grid-error {
	color: red;
}
.xl-grid {
	float: left;
	height: 100%;
	width: 100%;
}
.xl-grid-left-right>hr {
	float: left;
    border: 0;
    padding: 0;
    margin: 0;
	height: 100%;
	width: 2px;
	background-color: #e1e6f6;
	cursor: ew-resize;
}
.xl-grid-left-right>.xl-grid {
	height: 100%;
	width: calc(50% - 1px);
}
.xl-grid-top-bottom>hr {
	float: left;
    border: 0;
    padding: 0;
    margin: 0;
	height: 2px;
	width: 100%;
	background-color: #e1e6f6;
	cursor: ns-resize;
}
.xl-grid-top-bottom>.xl-grid {
	height: calc(50% - 1px);
	width: 100%;
}

.xl-tab {
	border: 0;
	height: 100%;
	width: 100%;
	display: none;
}
.xl-tab.active {
	display: block;
}

.xl-icon-collapse{background-image:url(/src/icon/collapse.gif);}
.xl-icon-home{background-image:url(/src/icon/home.ico);}
.xl-icon-email{background-image:url(/src/icon/email.png);}
.xl-icon-user{background-image:url(/src/icon/user.png);}
.xl-icon-cog{background-image:url(/src/icon/cog.png);}
.xl-icon-link{background-image:url(/src/icon/link.gif);}
.xl-icon-element{background-image:url(/src/icon/element.gif);}
.xl-icon-controller{background-image:url(/src/icon/controller.png);}
.xl-icon-component{background-image:url(/src/icon/component.gif);}
.xl-icon-plugin{background-image:url(/src/icon/plugin.gif);}
.xl-icon-exec{background-image:url(/src/icon/exec.png);}
.xl-icon-project{background-image:url(/src/icon/project.png);}
.xl-icon-arrow-bottom{background-image:url(/src/icon/arrow-bottom.png);}
.xl-icon-arrow-right{background-image:url(/src/icon/arrow-right.png);}
.xl-icon-image{background-image:url(/src/icon/image.png);}
.xl-icon-button{background-image:url(/src/icon/button.gif);}
.xl-icon-switch{background-image:url(/src/icon/switch.gif);}
.xl-icon-tag{background-image:url(/src/icon/tag.png);}
.xl-icon-progress{background-image:url(/src/icon/progress.png);}
.xl-icon-radio{background-image:url(/src/icon/radio.gif);}
.xl-icon-checkbox{background-image:url(/src/icon/checkbox.gif);}
.xl-icon-input{background-image:url(/src/icon/input.gif);}
.xl-icon-select{background-image:url(/src/icon/select.gif);}
.xl-icon-open-page{background-image:url(/src/icon/open-page.gif);}
.xl-icon-message{background-image:url(/src/icon/message.gif);}
.xl-icon-toolbar{background-image:url(/src/icon/toolbar.png);}
.xl-icon-pagebar{background-image:url(/src/icon/pagebar.gif);}
.xl-icon-navigator{background-image:url(/src/icon/navigator.gif);}
.xl-icon-form{background-image:url(/src/icon/form.png);}
.xl-icon-table{background-image:url(/src/icon/table.gif);}
.xl-icon-html{background-image:url(/src/icon/html.png);}
.xl-icon-time{background-image:url(/src/icon/time.png);}
.xl-icon-function{background-image:url(/src/icon/function.gif);}
.xl-icon-tree{background-image:url(/src/icon/tree.gif);}
.xl-icon-org{background-image:url(/src/icon/org.png);}
.xl-icon-select-rect{background-image:url(/src/icon/select-rect.gif);}
.xl-icon-comments{background-image:url(/src/icon/comments.gif);}
.xl-icon-chart{background-image:url(/src/icon/chart.ico);}
.xl-icon-file{background-image:url(/src/icon/file.png);}
.xl-icon-import{background-image:url(/src/icon/import.png);}
.xl-icon-export{background-image:url(/src/icon/export.png);}
.xl-icon-code{background-image:url(/src/icon/code.gif);}
.xl-icon-font{background-image:url(/src/icon/font.png);}
.xl-icon-color{background-image:url(/src/icon/color.png);}
.xl-icon-location{background-image:url(/src/icon/location.png);}
.xl-icon-timeline{background-image:url(/src/icon/timeline.png);}
.xl-icon-close{background-image:url(/src/icon/close.png);}