<?xml version="1.0" encoding="UTF-8"?>
<web-app id="www" version="4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" >
	<display-name>www</display-name>
  	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.xanglong.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>